<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>130</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>270</integer>
		<key>y</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>204</integer>
		<key>y</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>613</integer>
		<key>y</key>
		<integer>272</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>750</integer>
		<key>y</key>
		<integer>280</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>870</integer>
		<key>y</key>
		<integer>280</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1010</integer>
		<key>y</key>
		<integer>243</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1260</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1330</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1440</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
</array>
</plist>
