<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>160</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>230</integer>
		<key>y</key>
		<integer>160</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>400</integer>
		<key>y</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>270</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>650</integer>
		<key>y</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>780</integer>
		<key>y</key>
		<integer>350</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>900</integer>
		<key>y</key>
		<integer>360</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1040</integer>
		<key>y</key>
		<integer>350</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1080</integer>
		<key>y</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1290</integer>
		<key>y</key>
		<integer>310</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1290</integer>
		<key>y</key>
		<integer>180</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1440</integer>
		<key>y</key>
		<integer>160</integer>
	</dict>
</array>
</plist>
