<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>1570</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1710</integer>
		<key>y</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1744</integer>
		<key>y</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1940</integer>
		<key>y</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>2053</integer>
		<key>y</key>
		<integer>272</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>2190</integer>
		<key>y</key>
		<integer>280</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>2310</integer>
		<key>y</key>
		<integer>280</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>2450</integer>
		<key>y</key>
		<integer>243</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>2700</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>2770</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>2880</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
</array>
</plist>
