<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>bear@2x</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 139.000,67.000 }</string>	
								<string>{ 141.000,68.000 }</string>	
								<string>{ 142.000,72.000 }</string>	
								<string>{ 139.000,69.000 }</string>
							</array>
							<array>	
								<string>{ 257.000,17.000 }</string>	
								<string>{ 258.000,23.000 }</string>	
								<string>{ 256.000,25.000 }</string>	
								<string>{ 250.000,26.000 }</string>	
								<string>{ 251.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,40.000 }</string>	
								<string>{ 25.000,39.000 }</string>	
								<string>{ 25.000,42.000 }</string>
							</array>
							<array>	
								<string>{ 30.000,63.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 30.000,65.000 }</string>
							</array>
							<array>	
								<string>{ 19.000,172.000 }</string>	
								<string>{ 19.000,170.000 }</string>	
								<string>{ 21.000,169.000 }</string>	
								<string>{ 21.000,172.000 }</string>
							</array>
							<array>	
								<string>{ 161.000,24.000 }</string>	
								<string>{ 163.000,24.000 }</string>	
								<string>{ 161.000,26.000 }</string>
							</array>
							<array>	
								<string>{ 142.000,87.000 }</string>	
								<string>{ 176.000,55.000 }</string>	
								<string>{ 177.000,58.000 }</string>	
								<string>{ 145.000,89.000 }</string>
							</array>
							<array>	
								<string>{ 253.000,125.000 }</string>	
								<string>{ 255.000,127.000 }</string>	
								<string>{ 250.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,169.000 }</string>	
								<string>{ 18.000,167.000 }</string>	
								<string>{ 21.000,169.000 }</string>
							</array>
							<array>	
								<string>{ 105.000,43.000 }</string>	
								<string>{ 105.000,46.000 }</string>	
								<string>{ 70.000,46.000 }</string>	
								<string>{ 103.000,43.000 }</string>
							</array>
							<array>	
								<string>{ 234.000,217.000 }</string>	
								<string>{ 232.000,216.000 }</string>	
								<string>{ 236.000,215.000 }</string>
							</array>
							<array>	
								<string>{ 192.000,18.000 }</string>	
								<string>{ 192.000,21.000 }</string>	
								<string>{ 191.000,28.000 }</string>	
								<string>{ 179.000,20.000 }</string>	
								<string>{ 188.000,17.000 }</string>
							</array>
							<array>	
								<string>{ 282.000,201.000 }</string>	
								<string>{ 282.000,199.000 }</string>	
								<string>{ 307.000,187.000 }</string>	
								<string>{ 308.000,189.000 }</string>	
								<string>{ 298.000,195.000 }</string>	
								<string>{ 284.000,202.000 }</string>
							</array>
							<array>	
								<string>{ 181.000,47.000 }</string>	
								<string>{ 185.000,45.000 }</string>	
								<string>{ 237.000,31.000 }</string>	
								<string>{ 181.000,51.000 }</string>
							</array>
							<array>	
								<string>{ 304.000,196.000 }</string>	
								<string>{ 298.000,195.000 }</string>	
								<string>{ 308.000,189.000 }</string>
							</array>
							<array>	
								<string>{ 60.000,15.000 }</string>	
								<string>{ 59.000,19.000 }</string>	
								<string>{ 54.000,29.000 }</string>	
								<string>{ 23.000,37.000 }</string>	
								<string>{ 47.000,15.000 }</string>
							</array>
							<array>	
								<string>{ 225.000,81.000 }</string>	
								<string>{ 224.000,85.000 }</string>	
								<string>{ 223.000,81.000 }</string>
							</array>
							<array>	
								<string>{ 114.000,20.000 }</string>	
								<string>{ 113.000,24.000 }</string>	
								<string>{ 104.000,35.000 }</string>	
								<string>{ 102.000,37.000 }</string>	
								<string>{ 74.000,24.000 }</string>	
								<string>{ 84.000,20.000 }</string>
							</array>
							<array>	
								<string>{ 62.000,38.000 }</string>	
								<string>{ 63.000,41.000 }</string>	
								<string>{ 60.000,38.000 }</string>
							</array>
							<array>	
								<string>{ 67.000,21.000 }</string>	
								<string>{ 65.000,25.000 }</string>	
								<string>{ 54.000,29.000 }</string>	
								<string>{ 59.000,19.000 }</string>	
								<string>{ 65.000,20.000 }</string>
							</array>
							<array>	
								<string>{ 21.000,87.000 }</string>	
								<string>{ 23.000,87.000 }</string>	
								<string>{ 21.000,91.000 }</string>
							</array>
							<array>	
								<string>{ 14.000,162.000 }</string>	
								<string>{ 14.000,159.000 }</string>	
								<string>{ 16.000,163.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,166.000 }</string>	
								<string>{ 16.000,163.000 }</string>	
								<string>{ 18.000,167.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,184.000 }</string>	
								<string>{ 30.000,182.000 }</string>	
								<string>{ 34.000,184.000 }</string>
							</array>
							<array>	
								<string>{ 246.000,126.000 }</string>	
								<string>{ 250.000,128.000 }</string>	
								<string>{ 246.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 221.000,72.000 }</string>	
								<string>{ 221.000,75.000 }</string>	
								<string>{ 219.000,71.000 }</string>
							</array>
							<array>	
								<string>{ 184.000,33.000 }</string>	
								<string>{ 181.000,33.000 }</string>	
								<string>{ 165.000,21.000 }</string>	
								<string>{ 185.000,31.000 }</string>
							</array>
							<array>	
								<string>{ 198.000,21.000 }</string>	
								<string>{ 198.000,24.000 }</string>	
								<string>{ 195.000,27.000 }</string>	
								<string>{ 191.000,28.000 }</string>	
								<string>{ 192.000,21.000 }</string>
							</array>
							<array>	
								<string>{ 145.000,51.000 }</string>	
								<string>{ 147.000,50.000 }</string>	
								<string>{ 176.000,55.000 }</string>	
								<string>{ 145.000,54.000 }</string>
							</array>
							<array>	
								<string>{ 21.000,175.000 }</string>	
								<string>{ 21.000,169.000 }</string>	
								<string>{ 24.000,177.000 }</string>
							</array>
							<array>	
								<string>{ 11.000,124.000 }</string>	
								<string>{ 13.000,122.000 }</string>	
								<string>{ 53.000,195.000 }</string>	
								<string>{ 46.000,191.000 }</string>	
								<string>{ 12.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 252.000,15.000 }</string>	
								<string>{ 251.000,19.000 }</string>	
								<string>{ 243.000,29.000 }</string>	
								<string>{ 237.000,31.000 }</string>	
								<string>{ 212.000,19.000 }</string>	
								<string>{ 216.000,16.000 }</string>	
								<string>{ 223.000,13.000 }</string>	
								<string>{ 250.000,13.000 }</string>
							</array>
							<array>	
								<string>{ 152.000,38.000 }</string>	
								<string>{ 157.000,36.000 }</string>	
								<string>{ 151.000,42.000 }</string>
							</array>
							<array>	
								<string>{ 53.000,197.000 }</string>	
								<string>{ 53.000,195.000 }</string>	
								<string>{ 57.000,198.000 }</string>
							</array>
							<array>	
								<string>{ 225.000,51.000 }</string>	
								<string>{ 223.000,51.000 }</string>	
								<string>{ 226.000,47.000 }</string>
							</array>
							<array>	
								<string>{ 212.000,17.000 }</string>	
								<string>{ 216.000,16.000 }</string>	
								<string>{ 212.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 241.000,215.000 }</string>	
								<string>{ 236.000,215.000 }</string>	
								<string>{ 245.000,209.000 }</string>
							</array>
							<array>	
								<string>{ 68.000,31.000 }</string>	
								<string>{ 72.000,26.000 }</string>	
								<string>{ 74.000,26.000 }</string>	
								<string>{ 71.000,36.000 }</string>	
								<string>{ 69.000,36.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,21.000 }</string>	
								<string>{ 32.000,13.000 }</string>	
								<string>{ 47.000,15.000 }</string>	
								<string>{ 23.000,37.000 }</string>	
								<string>{ 14.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 247.000,29.000 }</string>	
								<string>{ 243.000,29.000 }</string>	
								<string>{ 251.000,19.000 }</string>	
								<string>{ 250.000,26.000 }</string>
							</array>
							<array>	
								<string>{ 113.000,59.000 }</string>	
								<string>{ 113.000,63.000 }</string>	
								<string>{ 110.000,56.000 }</string>
							</array>
							<array>	
								<string>{ 118.000,30.000 }</string>	
								<string>{ 115.000,30.000 }</string>	
								<string>{ 113.000,24.000 }</string>	
								<string>{ 119.000,22.000 }</string>	
								<string>{ 120.000,24.000 }</string>	
								<string>{ 120.000,28.000 }</string>
							</array>
							<array>	
								<string>{ 224.000,54.000 }</string>	
								<string>{ 221.000,58.000 }</string>	
								<string>{ 223.000,51.000 }</string>
							</array>
							<array>	
								<string>{ 40.000,190.000 }</string>	
								<string>{ 39.000,187.000 }</string>	
								<string>{ 46.000,191.000 }</string>
							</array>
							<array>	
								<string>{ 159.000,26.000 }</string>	
								<string>{ 161.000,26.000 }</string>	
								<string>{ 157.000,36.000 }</string>	
								<string>{ 157.000,29.000 }</string>
							</array>
							<array>	
								<string>{ 266.000,126.000 }</string>	
								<string>{ 275.000,132.000 }</string>	
								<string>{ 274.000,135.000 }</string>	
								<string>{ 250.000,128.000 }</string>	
								<string>{ 255.000,127.000 }</string>
							</array>
							<array>	
								<string>{ 179.000,20.000 }</string>	
								<string>{ 191.000,28.000 }</string>	
								<string>{ 188.000,31.000 }</string>	
								<string>{ 185.000,31.000 }</string>	
								<string>{ 165.000,21.000 }</string>
							</array>
							<array>	
								<string>{ 279.000,129.000 }</string>	
								<string>{ 283.000,127.000 }</string>	
								<string>{ 291.000,128.000 }</string>	
								<string>{ 294.000,131.000 }</string>	
								<string>{ 316.000,181.000 }</string>	
								<string>{ 307.000,187.000 }</string>	
								<string>{ 282.000,199.000 }</string>	
								<string>{ 277.000,133.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,69.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 26.000,77.000 }</string>
							</array>
							<array>	
								<string>{ 12.000,157.000 }</string>	
								<string>{ 12.000,153.000 }</string>	
								<string>{ 14.000,159.000 }</string>
							</array>
							<array>	
								<string>{ 184.000,215.000 }</string>	
								<string>{ 183.000,213.000 }</string>	
								<string>{ 239.000,130.000 }</string>	
								<string>{ 273.000,202.000 }</string>	
								<string>{ 189.000,215.000 }</string>
							</array>
							<array>	
								<string>{ 284.000,206.000 }</string>	
								<string>{ 284.000,202.000 }</string>	
								<string>{ 298.000,195.000 }</string>	
								<string>{ 298.000,202.000 }</string>	
								<string>{ 295.000,206.000 }</string>	
								<string>{ 291.000,208.000 }</string>	
								<string>{ 286.000,208.000 }</string>
							</array>
							<array>	
								<string>{ 354.000,149.000 }</string>	
								<string>{ 351.000,152.000 }</string>	
								<string>{ 342.000,155.000 }</string>	
								<string>{ 305.000,132.000 }</string>	
								<string>{ 317.000,130.000 }</string>	
								<string>{ 339.000,131.000 }</string>	
								<string>{ 351.000,140.000 }</string>
							</array>
							<array>	
								<string>{ 223.000,76.000 }</string>	
								<string>{ 223.000,81.000 }</string>	
								<string>{ 221.000,75.000 }</string>
							</array>
							<array>	
								<string>{ 241.000,31.000 }</string>	
								<string>{ 237.000,31.000 }</string>	
								<string>{ 243.000,29.000 }</string>
							</array>
							<array>	
								<string>{ 115.000,64.000 }</string>	
								<string>{ 115.000,69.000 }</string>	
								<string>{ 113.000,63.000 }</string>
							</array>
							<array>	
								<string>{ 115.000,30.000 }</string>	
								<string>{ 110.000,34.000 }</string>	
								<string>{ 104.000,35.000 }</string>	
								<string>{ 113.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 66.000,18.000 }</string>	
								<string>{ 65.000,20.000 }</string>	
								<string>{ 59.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 35.000,186.000 }</string>	
								<string>{ 34.000,184.000 }</string>	
								<string>{ 12.000,128.000 }</string>	
								<string>{ 39.000,187.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,78.000 }</string>	
								<string>{ 26.000,77.000 }</string>	
								<string>{ 23.000,87.000 }</string>
							</array>
							<array>	
								<string>{ 17.000,101.000 }</string>	
								<string>{ 19.000,100.000 }</string>	
								<string>{ 53.000,195.000 }</string>	
								<string>{ 17.000,107.000 }</string>
							</array>
							<array>	
								<string>{ 73.000,210.000 }</string>	
								<string>{ 69.000,206.000 }</string>	
								<string>{ 137.000,213.000 }</string>	
								<string>{ 116.000,216.000 }</string>	
								<string>{ 78.000,211.000 }</string>
							</array>
							<array>	
								<string>{ 209.000,223.000 }</string>	
								<string>{ 195.000,219.000 }</string>	
								<string>{ 189.000,215.000 }</string>	
								<string>{ 221.000,219.000 }</string>
							</array>
							<array>	
								<string>{ 240.000,128.000 }</string>	
								<string>{ 250.000,128.000 }</string>	
								<string>{ 274.000,135.000 }</string>	
								<string>{ 282.000,199.000 }</string>	
								<string>{ 279.000,199.000 }</string>	
								<string>{ 239.000,130.000 }</string>
							</array>
							<array>	
								<string>{ 227.000,219.000 }</string>	
								<string>{ 221.000,219.000 }</string>	
								<string>{ 189.000,215.000 }</string>	
								<string>{ 232.000,216.000 }</string>
							</array>
							<array>	
								<string>{ 300.000,130.000 }</string>	
								<string>{ 305.000,132.000 }</string>	
								<string>{ 332.000,162.000 }</string>	
								<string>{ 316.000,181.000 }</string>	
								<string>{ 294.000,131.000 }</string>
							</array>
							<array>	
								<string>{ 228.000,47.000 }</string>	
								<string>{ 226.000,47.000 }</string>	
								<string>{ 234.000,33.000 }</string>	
								<string>{ 231.000,43.000 }</string>
							</array>
							<array>	
								<string>{ 231.000,105.000 }</string>	
								<string>{ 233.000,112.000 }</string>	
								<string>{ 232.000,120.000 }</string>	
								<string>{ 229.000,105.000 }</string>
							</array>
							<array>	
								<string>{ 217.000,14.000 }</string>	
								<string>{ 223.000,13.000 }</string>	
								<string>{ 216.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 81.000,214.000 }</string>	
								<string>{ 78.000,211.000 }</string>	
								<string>{ 116.000,216.000 }</string>	
								<string>{ 88.000,215.000 }</string>
							</array>
							<array>	
								<string>{ 100.000,220.000 }</string>	
								<string>{ 97.000,217.000 }</string>	
								<string>{ 116.000,216.000 }</string>	
								<string>{ 115.000,218.000 }</string>	
								<string>{ 107.000,221.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,50.000 }</string>	
								<string>{ 25.000,42.000 }</string>	
								<string>{ 26.000,51.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,167.000 }</string>	
								<string>{ 14.000,159.000 }</string>	
								<string>{ 12.000,153.000 }</string>	
								<string>{ 21.000,169.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,179.000 }</string>	
								<string>{ 24.000,177.000 }</string>	
								<string>{ 30.000,182.000 }</string>
							</array>
							<array>	
								<string>{ 206.000,23.000 }</string>	
								<string>{ 210.000,19.000 }</string>	
								<string>{ 212.000,19.000 }</string>	
								<string>{ 237.000,31.000 }</string>	
								<string>{ 205.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,15.000 }</string>	
								<string>{ 32.000,13.000 }</string>	
								<string>{ 22.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 129.000,217.000 }</string>	
								<string>{ 116.000,216.000 }</string>	
								<string>{ 137.000,213.000 }</string>
							</array>
							<array>	
								<string>{ 19.000,92.000 }</string>	
								<string>{ 21.000,91.000 }</string>	
								<string>{ 19.000,100.000 }</string>
							</array>
							<array>	
								<string>{ 91.000,217.000 }</string>	
								<string>{ 88.000,215.000 }</string>	
								<string>{ 116.000,216.000 }</string>	
								<string>{ 97.000,217.000 }</string>
							</array>
							<array>	
								<string>{ 229.000,98.000 }</string>	
								<string>{ 229.000,105.000 }</string>	
								<string>{ 227.000,96.000 }</string>
							</array>
							<array>	
								<string>{ 197.000,29.000 }</string>	
								<string>{ 205.000,27.000 }</string>	
								<string>{ 197.000,31.000 }</string>
							</array>
							<array>	
								<string>{ 126.000,89.000 }</string>	
								<string>{ 132.000,89.000 }</string>	
								<string>{ 143.000,94.000 }</string>	
								<string>{ 57.000,198.000 }</string>	
								<string>{ 123.000,91.000 }</string>
							</array>
							<array>	
								<string>{ 111.000,18.000 }</string>	
								<string>{ 112.000,20.000 }</string>	
								<string>{ 102.000,20.000 }</string>
							</array>
							<array>	
								<string>{ 147.000,47.000 }</string>	
								<string>{ 151.000,42.000 }</string>	
								<string>{ 157.000,36.000 }</string>	
								<string>{ 176.000,55.000 }</string>	
								<string>{ 147.000,50.000 }</string>
							</array>
							<array>	
								<string>{ 236.000,125.000 }</string>	
								<string>{ 237.000,130.000 }</string>	
								<string>{ 57.000,198.000 }</string>	
								<string>{ 145.000,93.000 }</string>	
								<string>{ 232.000,120.000 }</string>
							</array>
							<array>	
								<string>{ 109.000,51.000 }</string>	
								<string>{ 110.000,56.000 }</string>	
								<string>{ 105.000,46.000 }</string>
							</array>
							<array>	
								<string>{ 57.000,13.000 }</string>	
								<string>{ 58.000,15.000 }</string>	
								<string>{ 47.000,15.000 }</string>
							</array>
							<array>	
								<string>{ 47.000,193.000 }</string>	
								<string>{ 46.000,191.000 }</string>	
								<string>{ 53.000,195.000 }</string>
							</array>
							<array>	
								<string>{ 179.000,52.000 }</string>	
								<string>{ 181.000,51.000 }</string>	
								<string>{ 237.000,31.000 }</string>	
								<string>{ 177.000,58.000 }</string>
							</array>
							<array>	
								<string>{ 227.000,91.000 }</string>	
								<string>{ 227.000,96.000 }</string>	
								<string>{ 224.000,85.000 }</string>
							</array>
							<array>	
								<string>{ 71.000,36.000 }</string>	
								<string>{ 74.000,26.000 }</string>	
								<string>{ 103.000,43.000 }</string>	
								<string>{ 73.000,40.000 }</string>
							</array>
							<array>	
								<string>{ 56.000,33.000 }</string>	
								<string>{ 60.000,38.000 }</string>	
								<string>{ 53.000,32.000 }</string>
							</array>
							<array>	
								<string>{ 322.000,179.000 }</string>	
								<string>{ 316.000,181.000 }</string>	
								<string>{ 332.000,162.000 }</string>	
								<string>{ 325.000,176.000 }</string>
							</array>
							<array>	
								<string>{ 314.000,184.000 }</string>	
								<string>{ 307.000,187.000 }</string>	
								<string>{ 316.000,181.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,177.000 }</string>	
								<string>{ 21.000,169.000 }</string>	
								<string>{ 34.000,184.000 }</string>	
								<string>{ 30.000,182.000 }</string>
							</array>
							<array>	
								<string>{ 181.000,33.000 }</string>	
								<string>{ 180.000,43.000 }</string>	
								<string>{ 176.000,55.000 }</string>	
								<string>{ 157.000,36.000 }</string>	
								<string>{ 163.000,24.000 }</string>	
								<string>{ 165.000,21.000 }</string>
							</array>
							<array>	
								<string>{ 14.000,110.000 }</string>	
								<string>{ 17.000,107.000 }</string>	
								<string>{ 53.000,195.000 }</string>	
								<string>{ 13.000,122.000 }</string>
							</array>
							<array>	
								<string>{ 337.000,160.000 }</string>	
								<string>{ 332.000,162.000 }</string>	
								<string>{ 305.000,132.000 }</string>	
								<string>{ 342.000,155.000 }</string>
							</array>
							<array>	
								<string>{ 140.000,73.000 }</string>	
								<string>{ 142.000,72.000 }</string>	
								<string>{ 144.000,85.000 }</string>	
								<string>{ 142.000,85.000 }</string>
							</array>
							<array>	
								<string>{ 65.000,41.000 }</string>	
								<string>{ 70.000,46.000 }</string>	
								<string>{ 63.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 58.000,201.000 }</string>	
								<string>{ 57.000,198.000 }</string>	
								<string>{ 237.000,130.000 }</string>	
								<string>{ 239.000,130.000 }</string>	
								<string>{ 167.000,211.000 }</string>	
								<string>{ 160.000,213.000 }</string>	
								<string>{ 137.000,213.000 }</string>	
								<string>{ 69.000,206.000 }</string>
							</array>
							<array>	
								<string>{ 30.000,62.000 }</string>	
								<string>{ 27.000,56.000 }</string>	
								<string>{ 26.000,51.000 }</string>	
								<string>{ 25.000,42.000 }</string>	
								<string>{ 25.000,37.000 }</string>	
								<string>{ 53.000,32.000 }</string>	
								<string>{ 32.000,63.000 }</string>
							</array>
							<array>	
								<string>{ 188.000,39.000 }</string>	
								<string>{ 197.000,31.000 }</string>	
								<string>{ 205.000,27.000 }</string>	
								<string>{ 237.000,31.000 }</string>	
								<string>{ 185.000,45.000 }</string>
							</array>
							<array>	
								<string>{ 143.000,55.000 }</string>	
								<string>{ 145.000,54.000 }</string>	
								<string>{ 142.000,72.000 }</string>	
								<string>{ 141.000,68.000 }</string>
							</array>
							<array>	
								<string>{ 270.000,206.000 }</string>	
								<string>{ 189.000,215.000 }</string>	
								<string>{ 273.000,202.000 }</string>
							</array>
							<array>	
								<string>{ 142.000,72.000 }</string>	
								<string>{ 145.000,54.000 }</string>	
								<string>{ 176.000,55.000 }</string>	
								<string>{ 144.000,85.000 }</string>
							</array>
							<array>	
								<string>{ 117.000,70.000 }</string>	
								<string>{ 117.000,90.000 }</string>	
								<string>{ 115.000,69.000 }</string>
							</array>
							<array>	
								<string>{ 236.000,215.000 }</string>	
								<string>{ 232.000,216.000 }</string>	
								<string>{ 189.000,215.000 }</string>	
								<string>{ 245.000,209.000 }</string>
							</array>
							<array>	
								<string>{ 54.000,29.000 }</string>	
								<string>{ 53.000,32.000 }</string>	
								<string>{ 25.000,37.000 }</string>	
								<string>{ 23.000,37.000 }</string>
							</array>
							<array>	
								<string>{ 21.000,169.000 }</string>	
								<string>{ 12.000,153.000 }</string>	
								<string>{ 12.000,128.000 }</string>	
								<string>{ 34.000,184.000 }</string>
							</array>
							<array>	
								<string>{ 102.000,37.000 }</string>	
								<string>{ 103.000,43.000 }</string>	
								<string>{ 74.000,26.000 }</string>	
								<string>{ 74.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 10.000,128.000 }</string>	
								<string>{ 12.000,128.000 }</string>	
								<string>{ 12.000,153.000 }</string>	
								<string>{ 10.000,152.000 }</string>
							</array>
							<array>	
								<string>{ 161.000,26.000 }</string>	
								<string>{ 163.000,24.000 }</string>	
								<string>{ 157.000,36.000 }</string>
							</array>
							<array>	
								<string>{ 21.000,91.000 }</string>	
								<string>{ 23.000,87.000 }</string>	
								<string>{ 53.000,195.000 }</string>	
								<string>{ 19.000,100.000 }</string>
							</array>
							<array>	
								<string>{ 177.000,58.000 }</string>	
								<string>{ 237.000,31.000 }</string>	
								<string>{ 145.000,89.000 }</string>
							</array>
							<array>	
								<string>{ 221.000,75.000 }</string>	
								<string>{ 223.000,81.000 }</string>	
								<string>{ 224.000,85.000 }</string>	
								<string>{ 219.000,71.000 }</string>
							</array>
							<array>	
								<string>{ 39.000,187.000 }</string>	
								<string>{ 12.000,128.000 }</string>	
								<string>{ 46.000,191.000 }</string>
							</array>
							<array>	
								<string>{ 115.000,69.000 }</string>	
								<string>{ 117.000,90.000 }</string>	
								<string>{ 70.000,46.000 }</string>	
								<string>{ 105.000,46.000 }</string>	
								<string>{ 110.000,56.000 }</string>	
								<string>{ 113.000,63.000 }</string>
							</array>
							<array>	
								<string>{ 73.000,40.000 }</string>	
								<string>{ 103.000,43.000 }</string>	
								<string>{ 70.000,46.000 }</string>
							</array>
							<array>	
								<string>{ 277.000,133.000 }</string>	
								<string>{ 282.000,199.000 }</string>	
								<string>{ 274.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,77.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 63.000,41.000 }</string>	
								<string>{ 117.000,90.000 }</string>	
								<string>{ 57.000,198.000 }</string>	
								<string>{ 53.000,195.000 }</string>	
								<string>{ 23.000,87.000 }</string>
							</array>
							<array>	
								<string>{ 224.000,85.000 }</string>	
								<string>{ 227.000,96.000 }</string>	
								<string>{ 232.000,120.000 }</string>	
								<string>{ 145.000,93.000 }</string>	
								<string>{ 219.000,71.000 }</string>
							</array>
							<array>	
								<string>{ 279.000,199.000 }</string>	
								<string>{ 273.000,202.000 }</string>	
								<string>{ 239.000,130.000 }</string>
							</array>
							<array>	
								<string>{ 183.000,213.000 }</string>	
								<string>{ 167.000,211.000 }</string>	
								<string>{ 239.000,130.000 }</string>
							</array>
							<array>	
								<string>{ 226.000,47.000 }</string>	
								<string>{ 223.000,51.000 }</string>	
								<string>{ 145.000,93.000 }</string>	
								<string>{ 145.000,89.000 }</string>	
								<string>{ 234.000,33.000 }</string>
							</array>
							<array>	
								<string>{ 60.000,38.000 }</string>	
								<string>{ 63.000,41.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 53.000,32.000 }</string>
							</array>
							<array>	
								<string>{ 221.000,58.000 }</string>	
								<string>{ 218.000,67.000 }</string>	
								<string>{ 145.000,93.000 }</string>	
								<string>{ 223.000,51.000 }</string>
							</array>
							<array>	
								<string>{ 70.000,46.000 }</string>	
								<string>{ 117.000,90.000 }</string>	
								<string>{ 63.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 117.000,90.000 }</string>	
								<string>{ 123.000,91.000 }</string>	
								<string>{ 57.000,198.000 }</string>
							</array>
							<array>	
								<string>{ 143.000,94.000 }</string>	
								<string>{ 145.000,93.000 }</string>	
								<string>{ 57.000,198.000 }</string>
							</array>
							<array>	
								<string>{ 219.000,71.000 }</string>	
								<string>{ 145.000,93.000 }</string>	
								<string>{ 218.000,67.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>bear</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 34.000,9.000 }</string>	
								<string>{ 34.000,12.000 }</string>	
								<string>{ 32.000,14.000 }</string>	
								<string>{ 29.000,14.000 }</string>	
								<string>{ 31.000,9.000 }</string>
							</array>
							<array>	
								<string>{ 99.000,10.000 }</string>	
								<string>{ 98.000,14.000 }</string>	
								<string>{ 78.000,18.000 }</string>	
								<string>{ 78.000,14.000 }</string>	
								<string>{ 95.000,8.000 }</string>
							</array>
							<array>	
								<string>{ 9.000,87.000 }</string>	
								<string>{ 9.000,84.000 }</string>	
								<string>{ 11.000,39.000 }</string>	
								<string>{ 11.000,87.000 }</string>
							</array>
							<array>	
								<string>{ 142.000,104.000 }</string>	
								<string>{ 141.000,100.000 }</string>	
								<string>{ 149.000,98.000 }</string>	
								<string>{ 149.000,102.000 }</string>	
								<string>{ 147.000,104.000 }</string>
							</array>
							<array>	
								<string>{ 129.000,8.000 }</string>	
								<string>{ 129.000,13.000 }</string>	
								<string>{ 117.000,17.000 }</string>	
								<string>{ 100.000,14.000 }</string>	
								<string>{ 107.000,7.000 }</string>	
								<string>{ 125.000,6.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,7.000 }</string>	
								<string>{ 31.000,9.000 }</string>	
								<string>{ 29.000,14.000 }</string>	
								<string>{ 27.000,16.000 }</string>	
								<string>{ 12.000,26.000 }</string>	
								<string>{ 12.000,7.000 }</string>	
								<string>{ 29.000,6.000 }</string>
							</array>
							<array>	
								<string>{ 34.000,19.000 }</string>	
								<string>{ 33.000,16.000 }</string>	
								<string>{ 39.000,10.000 }</string>	
								<string>{ 57.000,9.000 }</string>	
								<string>{ 61.000,14.000 }</string>	
								<string>{ 53.000,18.000 }</string>	
								<string>{ 36.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 117.000,17.000 }</string>	
								<string>{ 115.000,24.000 }</string>	
								<string>{ 113.000,25.000 }</string>	
								<string>{ 100.000,14.000 }</string>
							</array>
							<array>	
								<string>{ 140.000,63.000 }</string>	
								<string>{ 145.000,63.000 }</string>	
								<string>{ 147.000,65.000 }</string>	
								<string>{ 137.000,66.000 }</string>
							</array>
							<array>	
								<string>{ 82.000,10.000 }</string>	
								<string>{ 89.000,10.000 }</string>	
								<string>{ 78.000,14.000 }</string>
							</array>
							<array>	
								<string>{ 7.000,11.000 }</string>	
								<string>{ 12.000,7.000 }</string>	
								<string>{ 12.000,19.000 }</string>	
								<string>{ 7.000,15.000 }</string>
							</array>
							<array>	
								<string>{ 177.000,72.000 }</string>	
								<string>{ 177.000,75.000 }</string>	
								<string>{ 166.000,81.000 }</string>	
								<string>{ 137.000,66.000 }</string>	
								<string>{ 147.000,65.000 }</string>	
								<string>{ 170.000,65.000 }</string>
							</array>
							<array>	
								<string>{ 174.000,67.000 }</string>	
								<string>{ 174.000,69.000 }</string>	
								<string>{ 170.000,65.000 }</string>
							</array>
							<array>	
								<string>{ 13.000,34.000 }</string>	
								<string>{ 15.000,32.000 }</string>	
								<string>{ 59.000,45.000 }</string>	
								<string>{ 13.000,38.000 }</string>
							</array>
							<array>	
								<string>{ 105.000,112.000 }</string>	
								<string>{ 89.000,106.000 }</string>	
								<string>{ 122.000,105.000 }</string>	
								<string>{ 121.000,108.000 }</string>
							</array>
							<array>	
								<string>{ 152.000,98.000 }</string>	
								<string>{ 149.000,98.000 }</string>	
								<string>{ 156.000,92.000 }</string>
							</array>
							<array>	
								<string>{ 133.000,62.000 }</string>	
								<string>{ 161.000,90.000 }</string>	
								<string>{ 156.000,92.000 }</string>	
								<string>{ 122.000,62.000 }</string>
							</array>
							<array>	
								<string>{ 61.000,12.000 }</string>	
								<string>{ 61.000,14.000 }</string>	
								<string>{ 57.000,9.000 }</string>
							</array>
							<array>	
								<string>{ 67.000,44.000 }</string>	
								<string>{ 69.000,46.000 }</string>	
								<string>{ 59.000,45.000 }</string>
							</array>
							<array>	
								<string>{ 149.000,98.000 }</string>	
								<string>{ 141.000,100.000 }</string>	
								<string>{ 139.000,100.000 }</string>	
								<string>{ 120.000,64.000 }</string>	
								<string>{ 122.000,62.000 }</string>	
								<string>{ 156.000,92.000 }</string>
							</array>
							<array>	
								<string>{ 54.000,111.000 }</string>	
								<string>{ 39.000,107.000 }</string>	
								<string>{ 38.000,105.000 }</string>	
								<string>{ 58.000,108.000 }</string>
							</array>
							<array>	
								<string>{ 134.000,104.000 }</string>	
								<string>{ 122.000,105.000 }</string>	
								<string>{ 89.000,106.000 }</string>	
								<string>{ 11.000,87.000 }</string>	
								<string>{ 11.000,39.000 }</string>	
								<string>{ 59.000,45.000 }</string>	
								<string>{ 120.000,64.000 }</string>	
								<string>{ 139.000,100.000 }</string>
							</array>
							<array>	
								<string>{ 65.000,109.000 }</string>	
								<string>{ 58.000,108.000 }</string>	
								<string>{ 27.000,98.000 }</string>	
								<string>{ 13.000,91.000 }</string>	
								<string>{ 11.000,87.000 }</string>	
								<string>{ 74.000,106.000 }</string>
							</array>
							<array>	
								<string>{ 5.000,77.000 }</string>	
								<string>{ 5.000,64.000 }</string>	
								<string>{ 11.000,39.000 }</string>	
								<string>{ 9.000,84.000 }</string>
							</array>
							<array>	
								<string>{ 117.000,54.000 }</string>	
								<string>{ 117.000,62.000 }</string>	
								<string>{ 69.000,46.000 }</string>	
								<string>{ 72.000,46.000 }</string>	
								<string>{ 115.000,52.000 }</string>
							</array>
							<array>	
								<string>{ 57.000,28.000 }</string>	
								<string>{ 59.000,34.000 }</string>	
								<string>{ 59.000,45.000 }</string>	
								<string>{ 36.000,21.000 }</string>	
								<string>{ 36.000,19.000 }</string>	
								<string>{ 55.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 69.000,33.000 }</string>	
								<string>{ 75.000,19.000 }</string>	
								<string>{ 78.000,18.000 }</string>	
								<string>{ 98.000,14.000 }</string>	
								<string>{ 110.000,36.000 }</string>	
								<string>{ 115.000,52.000 }</string>	
								<string>{ 72.000,46.000 }</string>	
								<string>{ 70.000,42.000 }</string>
							</array>
							<array>	
								<string>{ 164.000,87.000 }</string>	
								<string>{ 161.000,90.000 }</string>	
								<string>{ 137.000,66.000 }</string>	
								<string>{ 166.000,81.000 }</string>
							</array>
							<array>	
								<string>{ 53.000,18.000 }</string>	
								<string>{ 52.000,21.000 }</string>	
								<string>{ 36.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 52.000,21.000 }</string>	
								<string>{ 55.000,27.000 }</string>	
								<string>{ 36.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,16.000 }</string>	
								<string>{ 34.000,22.000 }</string>	
								<string>{ 12.000,26.000 }</string>	
								<string>{ 27.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,101.000 }</string>	
								<string>{ 27.000,98.000 }</string>	
								<string>{ 58.000,108.000 }</string>	
								<string>{ 38.000,105.000 }</string>
							</array>
							<array>	
								<string>{ 113.000,25.000 }</string>	
								<string>{ 110.000,31.000 }</string>	
								<string>{ 100.000,14.000 }</string>
							</array>
							<array>	
								<string>{ 112.000,37.000 }</string>	
								<string>{ 115.000,52.000 }</string>	
								<string>{ 110.000,36.000 }</string>
							</array>
							<array>	
								<string>{ 110.000,31.000 }</string>	
								<string>{ 110.000,36.000 }</string>	
								<string>{ 98.000,14.000 }</string>	
								<string>{ 100.000,14.000 }</string>
							</array>
							<array>	
								<string>{ 74.000,106.000 }</string>	
								<string>{ 11.000,87.000 }</string>	
								<string>{ 89.000,106.000 }</string>
							</array>
							<array>	
								<string>{ 36.000,21.000 }</string>	
								<string>{ 59.000,45.000 }</string>	
								<string>{ 34.000,22.000 }</string>
							</array>
							<array>	
								<string>{ 34.000,22.000 }</string>	
								<string>{ 59.000,45.000 }</string>	
								<string>{ 15.000,32.000 }</string>	
								<string>{ 12.000,26.000 }</string>
							</array>
							<array>	
								<string>{ 13.000,38.000 }</string>	
								<string>{ 59.000,45.000 }</string>	
								<string>{ 11.000,39.000 }</string>
							</array>
							<array>	
								<string>{ 59.000,45.000 }</string>	
								<string>{ 69.000,46.000 }</string>	
								<string>{ 117.000,62.000 }</string>	
								<string>{ 120.000,64.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

